AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  duck-transcriber

  Sample SAM Template for duck-transcriber

Globals:
  Function:
    Timeout: 60
    MemorySize: 128
    Environment:
      Variables:
        OPENAI_API_KEY: xxx
        TELEGRAM_BOT_TOKEN: xxx
        TELEGRAM_OWNER_ID: xxx

Resources:
  LambdaFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: rust-cargolambda
    Properties:
      CodeUri: ./rust_app
      Handler: bootstrap
      Runtime: provided.al2023
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref DynamoDBTable
      Architectures:
        - arm64
      Events:
        HelloWorld:
          Type: Api
          Properties:
            Path: /
            Method: post

  DynamoDBTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: duck-transcriber-db
      AttributeDefinitions:
        - AttributeName: userId
          AttributeType: N
      KeySchema:
        - AttributeName: userId
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST

Outputs:
  APIGatewayOutput:
    Description: "API Gateway endpoint URL for Prod stage for Hello World function"
    Value: !Sub "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/"
  LambdaFunctionOutput:
    Description: "Hello World Lambda Function ARN"
    Value: !GetAtt LambdaFunction.Arn